.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-modal {
    display: none;
}

.modal-dialog {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(252, 251, 251, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-dialog span,
label {
    color: black;
    font-weight: bold;
}

input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}