
.fab-button {
    position: fixed;
    bottom: 1.3rem;
    right: 1.3rem;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
    transition: box-shadow .2s ease-in-out;
    background: #4791dc;
    color: #fff;
    border: none;
}


.fab-button:not([disabled]):focus {
    box-shadow: 0 0 .25rem #1976d2cc, -.125rem -.125rem 1rem #1976d2b3, .125rem .125rem 1rem #1976d299;
}


.fab-button:not([disabled]):hover {
    box-shadow: 0 0 .25rem #1976d2cc, -.125rem -.125rem 1rem #1976d2b3, .125rem .125rem 1rem #1976d299;
}